#game-wrapper {
  display: grid;
  gap: var(--BORDER_GAP);
  grid-template-areas:
    "logo logo logo"
    "bar bar bar"
    "players canvas chat"
    "footer tools .";
  grid-template-columns: min-content auto auto;
  grid-template-rows: min-content 60px min-content min-content;
}

@media (max-aspect-ratio: 1 / 1) {
  #game-wrapper {
    height: 100%;
    width: 100%;
    grid-template-areas:
      "bar bar"
      "canvasA canvasB"
      "toolsA toolsB"
      "players chat"
      "input input";
    grid-template-columns: calc(50% - var(--BORDER_GAP) / 2) calc(
        50% - var(--BORDER_GAP) / 2
      );
    grid-template-rows: var(--UNIT) min-content var(--UNIT) 1fr min-content;
  }
}

#game-players .player .player-avatar-container {
  position: absolute;
  right: 0;
  top: -1px;
  /* width: var(--UNIT);
  height: var(--UNIT); */
}

#game-players .player .player-icons .icon {
  /* display: none; */
  flex: 0 0 auto;
  opacity: 0.7;
  width: 24px;
  height: 24px;
  margin-right: 4px;
  background-size: cover;
  animation: icon_introduce 0.21s ease-in-out;
}

#game-players .player .player-icons .icon.owner {
  background-image: url(/img/owner.gif);
}

#game-players .player .player-icons .icon.muted {
  background-image: url(/img/mute.gif);
}

@keyframes icon_introduce {
  0% {
    transform: translateY(-8px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0.7;
  }
}

#game-toolbar {
  display: grid;
  gap: var(--BORDER_GAP);
  width: 100%;
  height: var(--UNIT);
  grid-template-columns: var(--UNIT) min-content var(--UNIT) 1fr min-content;
  grid-template-rows: var(--UNIT);
  grid-template-areas: "preview colors sizes tools actions";
  grid-area: tools;
  position: relative;
}

@media (min-aspect-ratio: 1 / 1) and (max-width: 1166px) {
  #game-toolbar {
    height: calc(var(--UNIT) * 2 + var(--BORDER_GAP));
    grid-template-columns: var(--UNIT) 1fr 1fr var(--UNIT);
    grid-template-rows: var(--UNIT) var(--UNIT);
    grid-template-areas:
      "preview colors colors sizes"
      "tools tools actions actions";
  }
}

#game-toolbar .color-preview,
#game-toolbar .color-preview-mobile {
  grid-area: preview;
  cursor: pointer;
  position: relative;
  flex: 0 0 auto;
  width: var(--UNIT);
  height: var(--UNIT);
  overflow: hidden;
  border-radius: var(--BORDER_RADIUS);
}

#color-preview-primary,
#color-preview-secondary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#game-toolbar .colors {
  grid-area: colors;
  height: var(--UNIT);
  overflow: hidden;
  border-radius: var(--BORDER_RADIUS);
}

#game-toolbar .colors .color {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  flex: 1 1 auto;
  height: 100%;
  width: calc(var(--UNIT) / 2);
}

#game-toolbar .toolbar-group-tools {
  grid-area: tools;
  justify-content: center;
}

#game-toolbar .toolbar-group-actions {
  grid-area: actions;
}

#game-toolbar .toolbar-group-actions,
#game-toolbar .toolbar-group-tools {
  height: 100%;
  display: flex;
  gap: var(--BORDER_GAP);
}

@media (min-aspect-ratio: 1 / 1) and (max-width: 1166px) {
  #game-toolbar .toolbar-group-tools {
    justify-content: flex-start;
  }

  #game-toolbar .toolbar-group-actions {
    justify-content: flex-end;
  }
}

#game-toolbar .tool {
  position: relative;
  width: var(--UNIT);
  height: var(--UNIT);
  overflow: hidden;
}

#game-toolbar .tool .icon {
  opacity: 0.7;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(70%) var(--DROPSHADOW);
}

#game-toolbar .tool.selected .icon,
#game-toolbar .tool:hover .icon {
  opacity: 1;
  filter: var(--DROPSHADOW);
}

.clickable .key {
  cursor: pointer;
  opacity: 0.8;
  font-size: 0.9em;
  font-weight: bolder;
  text-transform: uppercase;
  position: absolute;
  left: 0.3em;
  top: -0.1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

#game-toolbar .sizes {
  grid-area: sizes;
  position: relative;
  width: var(--UNIT);
  height: var(--UNIT);
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;

  .clickable {
    cursor: pointer;
    position: relative;
    color: var(--COLOR_TOOL_TEXT);
    background: var(--COLOR_TOOL_BASE);
    border-radius: var(--BORDER_RADIUS);
  }
}

#game-toolbar .sizes .size-preview {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--BORDER_RADIUS);
  margin: 0;

  .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/img/size.gif);
    filter: brightness(0) var(--DROPSHADOW);
  }
}

.container {
  overflow: hidden;
  border-radius: var(--BORDER_RADIUS) var(--BORDER_RADIUS) 0 0;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  bottom: 100%;
  left: 0;
  right: 0;
  flex-direction: column;

  .arrow {
    position: relative;
    order: 1;
    width: var(--UNIT);
    height: calc(var(--UNIT) / 4);
    background-color: var(--COLOR_TOOL_SIZE_BASE);
    clip-path: polygon(50% 100%, 25% 0, 75% 0);
  }

  .size {
    cursor: pointer;
    position: relative;
    width: var(--UNIT);
    height: var(--UNIT);
    border-radius: 0;
    background-color: var(--COLOR_TOOL_SIZE_BASE);
  }

  .size .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/img/size.gif);
    filter: brightness(0) var(--DROPSHADOW);
  }
}

.clickable .icon {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  top: 0;
  transition: top 65ms ease-in-out;
  animation: none;
}

/* #game-players {
  grid-area: players;
  position: relative;
  flex: 0 0 auto;
  width: 200px;
  border-radius: var(--BORDER_RADIUS);
  display: flex;
  flex-direction: column;
} */

/* #game-chat {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  grid-area: chat;
  display: flex
;
  flex-direction: column;
  flex: 1 0 auto;
  font-size: 1em;
  width: 300px;
  box-sizing: border-box;
  padding-bottom: .2em;
  background-color: var(--COLOR_CHAT_BG_BASE);
  border-radius: var(--BORDER_RADIUS);
} */
#game-canvas {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  grid-area: canvas;
}

@media (max-aspect-ratio: 1 / 1) {
  #game-canvas {
    grid-area: canvasA / canvasA / canvasB / canvasB;
  }
}

#game-players {
  grid-area: players;
}
@media (max-aspect-ratio: 1 / 1) {
  #game-wrapper.toolbar-hidden #game-players {
    grid-area: toolsA / toolsA / players / players;
  }
}

#game-chat {
  grid-area: chat;
}
@media (max-aspect-ratio: 1 / 1) {
  #game-wrapper.toolbar-hidden #game-chat {
    grid-area: toolsB / toolsB / chat / chat;
  }
}

#game-canvas .overlay-content .result,
#game-canvas .overlay-content .reveal,
#game-canvas .overlay-content .text,
#game-canvas .overlay-content .words {
  display: none;
}

#game-bar {
  height: 100%;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  position: relative;
}

#game-clock {
  pointer-events: none;
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url(/img/clock.gif);
  background-size: contain;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15));
  color: #000;
  font-size: 20px;
  line-height: 3.6;
  font-weight: bolder;
  z-index: 10;
  top: -10px;
  left: -8px;
  display: flex;
  justify-content: center;
  animation-name: none;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@media (max-aspect-ratio: 1 / 1) {
  #game-clock {
    top: calc(var(--UNIT) * -0.02);
    left: calc(var(--UNIT) * 0.2);
    width: calc(var(--UNIT) * 0.75);
    height: calc(var(--UNIT) * 0.75);
    padding-top: calc(var(--UNIT) * 0.22);
    line-height: calc(var(--UNIT) * 0.45);
    font-size: 1em;
    filter: drop-shadow(0px 2px 10px #565a60);
  }
}

#game-round {
  position: absolute;
  left: 64px;
  top: 20px;
  font-size: 1.4em;
  color: var(--COLOR_GAMEBAR_ROUND_TEXT);
}

@media (max-aspect-ratio: 1 / 1) {
  #game-round {
    font-size: 0.8em;
    top: unset;
    left: 6px;
    bottom: 0;
    width: unset;
  }
}

#game-settings {
  z-index: 20;
  position: absolute;
  width: var(--UNIT);
  height: var(--UNIT);
  bottom: 0%;
  top: 0%;
  right: 0%;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#game-settings .icon {
  position: relative;
  cursor: pointer;
  width: 87.5%;
  height: 87.5%;
  background-image: url(/img/settings.gif);
  background-size: contain;
  filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 0.3));
  transition: transform 0.1s ease-in-out;
}

#game-canvas .room .group-settings {
  flex: 0 1 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--BORDER_GAP);

  .key {
    display: flex;
    gap: var(--BORDER_GAP);
    align-items: center;
    font-size: 1em;
    img {
      filter: var(--DROP_GRAY);
    }
  }
}

@media (max-aspect-ratio: 1 / 1) {
  #game-canvas .room .group-settings {
    gap: 6px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#game-canvas .room .group-customwords {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--BORDER_GAP);
  min-height: 35%;

  .game-room-name {
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-weight: 600;
  }
}
